/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .grid-row-lg {
    grid-template-rows: repeat(12, 1fr) !important;
  }

  .g-col-lg-3 {
    grid-column-end: span 3 !important;
  }

  .g-col-lg-6 {
    grid-column-end: span 6 !important;
  }

  .g-row-index-lg-1 {
    grid-row-start: 1 !important;
  }

  .g-row-index-lg-8 {
    grid-row-start: 8 !important;
  }
}
