/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #navbar {
    --bs-border-width: 1px !important;
  }
  .certificate:nth-of-type(even) {
    border-left: 1px solid var(--bs-border-color) !important;
  }
  .separator:nth-of-type(odd) {
    display: none;
  }
}
